.title {
  margin-left: 40%;
  margin-top: 30vh;
  padding-top: 40px;
  height: 230px;
  width: 280px;
  border-radius: 50%;
  background-color: rgba(244, 172, 4, 0.9);
  border: solid 5px black;
  /*#091B66*/
  box-shadow: 3px 3px 3px black;
  color: #0F2682;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 75px;
  width: 75px;
  background-image: url("wah-blue.svg");
  background-size: cover;
}

#name {
  margin-left: 17px;
  font-size: 40px;
}
#roll {
  margin-left: 21px;
  font-family: sans-serif;
  font-weight: lighter;
  color: #586CBE;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
