/*main page background +===}========>*/

body {
    background-color: #00042C;
}
#coordinates {
    position: absolute;
    top: 90%;
    left: 10%;
    color: lime;
    font-family: monospace;
    font-weight: lighter;
    font-size: 20px;
}
.whiteLineBg {
    z-index: -1;
    position: absolute;
    margin-left: 2.2vw;
    color: lime;
    height: 100vh;
    width: 95vw;
    border-left: 1px solid lime;
    border-right: 1px solid lime;
    animation-name: drawLine;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
}
@keyframes drawLine {
    0% {
        height: 0px;
    }
    100% {
        height: 100vh;
    }
}
#name {
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vh;
    font-size: 40px;
    font-family: monospace;
    white-space: nowrap;
    width: 30em;
    overflow: hidden;
    animation: type 4s steps(60, end);
}
#name span {
    color: red;
    font-weight: 600;
    animation: blink .8s infinite;
}
@keyframes type {
    from {
        width: 0;
    }
}
@keyframes blink {
    to {
        opacity: .0;
    }
}
#roll {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease 0.3s;
    position: absolute;
    margin-top: 10vh;
    margin-left: 5vh;
    font-family: monospace;
}
.nav-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 10;
    margin-top: -13em;
    margin-left: -13.5em;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: lime;
    opacity: 0;
    transition: all .3s ease 0.3s;
    transform: scale(0.1);
    pointer-events: none;
    overflow: hidden;
}

/*phone and email +==}========>*/

.email {
    position: absolute;
    margin-top: 66vh;
    margin-left: -2px;
    float: left;
    background-color: #00042C;
    font-family: monospace;
    font-weight: lighter;
    font-size: 20px;
    transform: rotate(-90deg);
    transform-origin: top left;
}
#emailWrap {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease 0.2s;
}
#email:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .2);
    margin-left: -4px;
}
.email #tooltipcopied {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: lime;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -500%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    transform: rotate(90deg);
}
.email #tooltipcopied::after {
    content: "";
    position: absolute;
    top: 30%;
    left: -4%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: lime transparent transparent transparent;
    transform: rotate(90deg);
}
.phone {
    position: relative;
    float: right;
    margin-top: 60vh;
    margin-left: 100%;
    margin-right: -2px;
    background-color: #00042C;
    font-family: monospace;
    font-size: 20px;
    font-weight: lighter;
    transform: rotate(90deg);
    transform-origin: top right;
}
#phoneWrap {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease 0.2s;
}
/*logo center  +==}========>*/

.logoContainer {
    position: absolute;
    margin-top: 41vh;
    margin-left: 45%;
    height: 10vw;
    width: 10vw;
}
#logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
    width: 10vw;
    background-size: cover;
}

/*circular navagation +==}========>*/

.container {
    position: absolute;
    margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 2em;
    height: 15em;
    background: rgba(0, 0, 0, 0.09);
    font-family: Arial, sans-serif;
}
.container> h2 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 9em;
    opacity: 0.5;
    cursor: default;
    padding: 15px;
}
.navButton {
    position: relative;
    top: 108.2%;
    left: 5%;
    z-index: 11;
    margin-top: -2.25em;
    margin-left: -2.25em;
    padding-top: 2.5em;
    width: 4.5em;
    height: 4.5em;
    border: 5px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    opacity: .9;
    color: lime;
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    outline: none;
}
.nav-wrapper {
    position: absolute;
    top: 34vh;
    left: 5%;
    z-index: 10;
    margin-top: -13em;
    margin-left: -13.5em;
    width: 27em;
    height: 27em;
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    -webkit-transition: all .3s ease 0.3s;
    -moz-transition: all .3s ease 0.3s;
    transition: all .3s ease 0.3s;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    pointer-events: none;
    overflow: hidden;
}
.nav-wrapper:after {
    content: ".";
    display: block;
    font-size: 2em;
    width: 6.2em;
    height: 6.2em;
    position: absolute;
    left: 50%;
    margin-left: -3.1em;
    top: 50%;
    margin-top: -3.1em;
    border-radius: 50%;
    z-index: 10;
    color: transparent;
}
.opened-nav {
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: auto;
}
.nav-wrapper li {
    position: absolute;
    left: 50%;
    overflow: hidden;
    margin-top: -1.3em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1.5em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(76deg) skew(60deg);
    -moz-transform: rotate(76deg) skew(60deg);
    -ms-transform: rotate(76deg) skew(60deg);
    transform: rotate(76deg) skew(60deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    pointer-events: none;
}
.nav-wrapper li a {
    position: absolute;
    right: -7.25em;
    bottom: -7.25em;
    display: block;
    width: 14.5em;
    height: 14.5em;
    border-radius: 50%;
    background: #429a67;
    background: -webkit-radial-gradient(transparent 25%, lime 35%);
    background: -moz-radial-gradient(transparent 25%, lime 35%);
    background: radial-gradient(transparent 25%, lime 35%);
    color: #00042C;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    line-height: 2;
    -webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
    -moz-transform: skew(-60deg) rotate(-75deg) scale(1);
    -ms-transform: skew(-60deg) rotate(-75deg) scale(1);
    transform: skew(-60deg) rotate(-75deg) scale(1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: auto;
}
.nav-wrapper li a span {
    position: relative;
    top: 1.8em;
    display: block;
    font-size: .45em;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-wrapper li a:hover, .nav-wrapper li a:active, .nav-wrapper li a:focus {
    opacity: .7;
    background: -webkit-radial-gradient(transparent 25%, lime 35%);
    background: -moz-radial-gradient(transparent 25%, lime 35%);
    background: radial-gradient(transparent 25%, lime 35%);
}
.opened-nav li {
    -webkit-transition: all .3s ease .3s;
    -moz-transition: all .3s ease .3s;
    transition: all .3s ease .3s;
}
.opened-nav li:first-child {
    -webkit-transform: rotate(-20deg) skew(60deg);
    -moz-transform: rotate(-20deg) skew(60deg);
    -ms-transform: rotate(-20deg) skew(60deg);
    transform: rotate(-20deg) skew(60deg);
}
.opened-nav li:nth-child(2) {
    -webkit-transform: rotate(12deg) skew(60deg);
    -moz-transform: rotate(12deg) skew(60deg);
    -ms-transform: rotate(12deg) skew(60deg);
    transform: rotate(12deg) skew(60deg);
}
.opened-nav li:nth-child(3) {
    -webkit-transform: rotate(44deg) skew(60deg);
    -moz-transform: rotate(44deg) skew(60deg);
    -ms-transform: rotate(44deg) skew(60deg);
    transform: rotate(44deg) skew(60deg);
}
.opened-nav li:nth-child(4) {
    -webkit-transform: rotate(76deg) skew(60deg);
    -moz-transform: rotate(76deg) skew(60deg);
    -ms-transform: rotate(76deg) skew(60deg);
    transform: rotate(76deg) skew(60deg);
}
.opened-nav li:nth-child(5) {
    -webkit-transform: rotate(108deg) skew(60deg);
    -moz-transform: rotate(108deg) skew(60deg);
    -ms-transform: rotate(108deg) skew(60deg);
    transform: rotate(108deg) skew(60deg);
}
.opened-nav li:nth-child(6) {
    -webkit-transform: rotate(140deg) skew(60deg);
    -moz-transform: rotate(140deg) skew(60deg);
    -ms-transform: rotate(140deg) skew(60deg);
    transform: rotate(140deg) skew(60deg);
}
.opened-nav li:nth-child(7) {
    -webkit-transform: rotate(172deg) skew(60deg);
    -moz-transform: rotate(172deg) skew(60deg);
    -ms-transform: rotate(172deg) skew(60deg);
    transform: rotate(172deg) skew(60deg);
}
@media only screen and (max-width: 600px) {
    .nav-wrapper {
        padding: .5em;
    }
}
@media only screen and (max-width: 480px) {
    .nav-wrapper {
        font-size: .68em;
    }
    .button {
        font-size: 1em;
    }
}

/*contact model +==}========>    */

#contactBG {
  visibility: hidden;
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}
#contactBG a {
  text-decoration: none;
}
#contactBG a:hover {
  text-decoration: underline;
}
.contact {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  padding: 10px;
  height: 80%;
  width: 75%;
  background: linear-gradient(to bottom right, rgba(30,30,30,1), rgba(0,0,0,1));
  background-color: black;
  color: lime;
  font-family: monospace;
  font-size: 1.5em;
  border: 20px inset grey;
  border-radius: 20px;
}
.contact span {
    color: red;
    font-weight: bolder;
    animation: blink .8s infinite;
}
.powerLight {
  margin-left: 10%;
  margin-top: 3%;
  height: 1%;
  width:3%;
  background: linear-gradient(to right, #93B724, #C7FD0D);
  border: 1px outset grey;
  box-shadow: 0px 0px 3px lime;
}
/*about model +==}========>*/
#aboutBG {
  visibility: hidden;
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);;
}
#aboutBG a {
  text-decoration: none;
}
#aboutBG a:hover {
  text-decoration:line-through;
}
.about {
  position: relative;
  height: 75%;
  width: 75%;
  left: 12%;
  top: 12%;
  z-index: 21;
  background-color: #1D181A;
  border: 5px solid #A2AFA4;
  border-radius: 30px;
}
.closeButton {
  position: relative;
  margin-left: 95%;
  font-size: 3em;
  color: red;
}
.closeButton:hover {
  cursor: pointer;
}
.headShot {
  position: relative;
  margin-top: -3%;
  margin-left: 2%;
  height: 200px;
  width: 236px;
  border: 3px solid #A2AFA4;
  border-radius: 50%;
}
.aboutContent {
  margin-left: 30%;
  margin-top: -5%;
  width: 60%;
  height: 60%;
  overflow: hidden;
  overflow: scroll;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.about div {
  margin-bottom: 5%;
  margin-right: 5%;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.5;
  color: white;
}
.about div h2 {
  margin-bottom: 1%;
  font-size: 2em;
  font-weight: bold;
}
.about div ul {
  list-style: circle;
  margin-left: 5%;
}
.aboutSite i {
  margin-bottom: 3%;
  color: yellow;
}

/*resume divs +==}========>*/
/* TODO: remove id from link in HTML and text decoration*/
#resumeLink {
  text-decoration: line-through;
}
/*portfolio divs +==}========>*/
/* TODO: remove id from link in HTML and text decoration*/
#portfolioLink {
  text-decoration: line-through;
}

/*inspiration divs +==}========>*/
/* TODO: remove id from link in HTML and text decoration*/
#inspirationLink {
  text-decoration: line-through;
}
/*under constuction divs +==}========>*/

#constructionBG {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
  position: absolute;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 150, 0, 0.8);
}
.construction {
  color: white;
  font-size: 5em;
  font-family: monospace;
}
.construction .subheading {
  font-size: .4em;
  font-family: sans-serif;
  text-transform: uppercase;
}
.construction .fa-exclamation-triangle {
  color: yellow;
}
