body {
  background-color: #00042C;
}
#coordinates {
  position: absolute;
  top: 90%;
  left: 10%;
  color: lime;
  font-family: monospace;
  font-weight: lighter;
  font-size: 20px;
}
.whiteLineBg {
  z-index: -1;
  position: absolute;
  margin-left: 2.2vw;
  color: lime;
  height: 100vh;
  width: 95vw;
  border-left: 1px solid lime;
  border-right: 1px solid lime;
  animation-name: drawLine;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}
@keyframes drawLine {
  0% {
    height: 0px;
  }
  100% {
    height:100vh;
  }
}
#name {
  position: absolute;
  margin-top: 5vh;
  margin-left: 5vh;
  font-size: 40px;
  font-family: monospace;
  white-space: nowrap;
  width: 30em;
  overflow: hidden;
  animation: type 4s steps(60, end);
}
#name span{
  color: red;
  font-weight:600;
  animation: blink .8s infinite;
}
@keyframes type{
  from { width: 0; }
}
@keyframes blink{
  to{opacity: .0;}
}
#roll {
  position: absolute;
  margin-top: 10vh;
  margin-left: 5vh;
  font-family: monospace;
}
.nav-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  margin-top: -13em;
  margin-left: -13.5em;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: lime;
  opacity: 0;
  transition: all .3s ease 0.3s;
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden;
}


/*phone and email +==}========>*/

.email {
  position: absolute;
  margin-top: 66vh;
  margin-left: -2px;
  float: left;
  background-color: #00042C;
  font-family: monospace;
  font-weight: lighter;
  font-size: 20px;
  transform: rotate(-90deg);
  transform-origin: top left;
}
#email:hover{
  cursor: pointer;
  background-color: rgba(255,255,255,.2);
  margin-left: -4px;

}
.phone {
  position: relative;
  float: right;
  margin-top: 60vh;
  margin-left: 100%;
  margin-right: -2px;
  background-color: #00042C;
  font-family: monospace;
  font-size: 20px;
  font-weight: lighter;
  transform: rotate(90deg);
  transform-origin: top right;
}
#phone:hover {
  cursor: pointer;
  margin-right: -4px;
  background-color: rgba(255,255,255,.2);
}

.email #tooltipcopied {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: lime;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -500%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    transform: rotate(90deg);
}

.email #tooltipcopied::after {
    content: "";
    position: absolute;
    top: 30%;
    left: -4%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: lime transparent transparent transparent;
    transform: rotate(90deg);
}

/*logo center  +==}========>*/

.logoContainer {
  position: absolute;
  margin-top: 41vh;
  margin-left: 45%;
  height: 10vw;
  width: 10vw;
}
#logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
    width: 10vw;
    background-size: cover;
}
