body {
  background-color: #00042C;
}

.whiteLineBg {
  position: absolute;
  margin-left: 2.2vw;
  color: white;
  height: 100vh;
  width: 95vw;
  border-left: 1px solid white;
  border-right: 1px solid white;
  animation-name: drawLine;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

@keyframes drawLine {
  0% {
    height: 0px;
  }
  100% {
    height:100vh;
  }
}
.email {
  position: absolute;
  margin-top: 60vh;
  margin-left: -1px;
  float: left;
  background-color: #00042C;
  font-family: sans-serif;
  transform: rotate(-90deg);
  transform-origin: top left;
}
.phone {
  position: relative;
  float: right;
  margin-top: 55vh;
  margin-left: 100%;
  margin-right: -1px;
  background-color: #00042C;
  font-family: sans-serif;
  transform: rotate(90deg);
  transform-origin: top right;
}
.logoContainer {
  position: absolute;
  margin-top: 40vh;
  margin-left: 45%;
  height: 5vw;
  width: 5vw;
}
#logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
    width: 10vw;
    background-size: cover;
}
