body {
  background-image: url("laptop-bg.png");
}

.title {
    position: absolute;
    margin-left: 50%;
    margin-top: 40vh;
    padding-top: 40px;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: rgba(244, 172, 4, 1);
    border: solid 5px black;
    box-shadow: 3px 3px 3px black;
    color: #0F2682;
}
#logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 75px;
    width: 75px;
    background-size: cover;
}
#name {
    display: none;
    margin-left: 17px;
    font-size: 40px;
}
#roll {
    display: none;
    margin-left: 21px;
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: lighter;
    color: #586CBE;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 500px;
  border: solid 5px black;
  box-shadow: 3px 3px 3px black;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 2em;
  font-family: sans-serif;
}
i {
  margin-right: 10px;
}
.linkedin {
  position: absolute;
  margin-top: 450px;
  margin-left: 350px;
  width: 400px;
  background-color: #966900;
  color: #FFD063;
}
.phone {
  position: absolute;
  margin-top: 275px;
  margin-left: 100px;
  width: 600px;
  height: 75px;
  background-color: #F4D204;
  color: #966900;
}
.github {
  margin-top: 150px;
  margin-left: 400px;
  position: absolute;
  height: 50px;
  background-color: #968100;
  color: #FFE963;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.stopfade {
    opacity: .5;
}
